# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments (any folder named venv, bin, lib, include, pyvenv.cfg inside any folder)
*/bin/
*/lib/
*/include/
*/pyvenv.cfg
.env

# Ignore macOS system files
.DS_Store

# Ignore logs
*.log

# Optional: ignore editor temp files
*.swp
*.swo
*.idea/
.vscode/
